<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <!-- bootstrap のコンテナ -->
      <div class="container">
        <div style="padding: 10px"></div>
        <!-- <button type="button" class="btn dropdown-toggle">都道府県</button> -->
        
        <!-- 都道府県選択 -->
        <select v-model="prefSelect">
          <option value="">--- 選択してください ---</option>
          <option v-for="opt in prefOptions" v-bind:value="opt.value">
            {{opt.text}}
          </option>
          <span>first Selected: {{ prefSelect }}</span>
        </select>

        <!-- 市区町村選択　--> 
        <select v-model="citySelect">
          <option value="">--- 選択してください ---</option>
          <option v-for="opt in cityOptions[prefSelect]" v-bind:value="opt.value">
            {{opt.text}}
          </option>
        </select> 


        <button v-on:click="callAPI" type="button" class="btn btn-primary">
          API取得
        </button>
        <div style="padding: 10px"></div>
        <table class="table table-striped">
          <caption>
            千葉か埼玉に家買うぞ2021
          </caption>
          <tr>
            <th>タイプ</th>
            <th>場所</th>
            <th>総額</th>
            <th>面積(m2)</th>
            <th>単価(m2)</th>
          </tr>
          <tr v-for="info in this.infos">
            <!-- divに対しての配列操作はダメっぽい -->
            <td>【{{info.Type}}】</td>
            <td>
              {{info.Prefecture}}{{info.Municipality}}{{info.DistrictName}}
            </td>
            <td>{{info.TradePrice | addComma}}</td>
            <td>{{info.Area}}</td>
            <!-- <td>{{info.UnitPrice | addComma}}</td>  APIの数字より自分で計算するか。 -->
            <td>{{info.UnitPriceS | addComma}}</td>
            <!-- APIの数字より自分で計算するか。 -->
          </tr>
        </table>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: function () {
          return {
            infos: null,
            //selectPrefecture: [{ text: "千葉", id: 1 }],
            prefSelect:"",
            citySelect:"",
            prefOptions: [
              { text: "千葉", value: "12" },
              { text: "埼玉", value: "11" },
            ],
            cityOptions: {
              12: [
                // 千葉県
                { text: "佐倉", value: "12212" },
                { text: "八千代", value: "12221" },
                { text: "船橋", value: "" }
              ],
              11: [
                // 埼玉県
                { text: "戸田", value: "11224" }
              ],
            },
          };
        },
        methods: {
          getInfo() {
            alert(this.infos);
          },
          callAPI() {
            let url = new URL(
              "https://www.land.mlit.go.jp/webland/api/TradeListSearch?from=20201&to=20204");
            url.searchParams.set("area",this.prefSelect);
            url.searchParams.set("city",this.citySelect);

            //console.log(this.prefSelect);
            //console.log(this.citySelect);
            
            axios.get(url).then((response) => {
              this.infos = response.data.data;
              //console.log(this.infos);
              this.formatData();
            }).catch(err =>{
                alert("APIエラー");
            });
          },
          formatData() {
            this.infos.forEach((val) => {
              //console.log(val.Type)
              //単価の計算
              val.UnitPriceS = this.getUnitPrice(val.Area, val.TradePrice);
            });
          },
          getUnitPrice(area, price) {
            if (isNaN(area) || isNaN(price)) {
              return "";
            } else {
              return parseInt(Number(price) / Number(area));
            }
          },
        },
        filters: {
          addComma: function (val) {
            if (isNaN(val)) {
              return val;
            } else {
              return Number(val).toLocaleString();
            }
          },
        },
      });
    </script>
  </body>
</html>
